<% content_for :title, "Sources : #{@source}" %>

<h1 class="govuk-heading-l"><%= @source.humanize %></h1>

<h2 class="govuk-heading-m">Records from this source</h2>

<%= render 'records/records', records: @records %>
