<% content_for :title, "Records" %>

<h1 class="govuk-heading-l">Records</h1>

<%= govuk_link_to("New record", new_record_path) if user_signed_in? %>

<%= render 'records/records', records: @records %>
